<section class="home-jumbo">
  <div class="home-jumbo__container">
    <div class="home-jumbo__fig" style="background-image: url(<%= asset_url('jumbo.jpg') %>);"></div>
    <div class="home-jumbo__title">
      <h3 class="home-jumbo__title-main">Manage your photos with ease</h3>
      <h4 class="home-jumbo__title-secondary">
        <%= link_to 'Sign Up', new_user_registration_path %> to begin your journey
      </h3>
    </div>
  </div>
</section>
