<section class="page-home-welcome">
  <h1 class="page-home-welcome__title">
    Premium Photo Package
    <span class="page-home-welcome__title-etc">$10</span>
  </h1>
  <ul class="page-home-welcome__plan-items">
    <li class="page-home-welcome__plan-item col-md-6"><i class="fa fa-plus-square"></i> Unlimited Image Uploads</li>
    <li class="page-home-welcome__plan-item col-md-6"><i class="fa fa-plus-square"></i> Responsive Design</li>
    <li class="page-home-welcome__plan-item col-md-6"><i class="fa fa-plus-square"></i> Access Anywhere</li>
    <li class="page-home-welcome__plan-item col-md-6"><i class="fa fa-plus-square"></i> In-depth Image Management</li>
  </ul>
  <div class="page-home-welcome__sign-up-container">
    <%= link_to 'Sign Up Today', new_user_registration_path, class: 'btn btn-primary btn-lg page-home-welcome__btn' %>  
  </div>
</section>
